<div id="body">
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>HolisticWare Business</h1>
			</hgroup>
			<p>
			</p>
			<p>
			</p>
		</div>
	</section>
	<section class="content-wrapper main-content clear-fix">
		<h2>Features</h2>
		<ol class="round">
			<li class="one">
				<a href="/Organizational">Organizational</a>
			</li>
			<li class="one">
				<a href="/Financial">Financial</a>
			</li>
		</ol>
	</section>
</div>
